body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #787f87;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navbar .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .menu li {
    margin: 0 15px;
}

.navbar .menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 16px;
}

.navbar .menu li a.active {
    font-weight: bold;
}

.navbar .right-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .right-icons li {
    margin-left: 20px;
}

.navbar .right-icons li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}



.content {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.chart-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Styling for individual chart containers with equal width and height */
#salesTrendChartContainer {
    width: 250px;
    height: 400px;
}

#categoryPopularityChartContainer {
    height: 300px;
    width: 361px;
}

#geographicDistributionChartContainer {
    width: 300px;
    height: 300px;
}

#seasonalTrendsChartContainer {
    width: 300px;
    height: 300px;
}
#barChart{
     
       
        
        width:200%;
        height: 350px;
        max-width:max-content;
       
    
}


canvas#categoryPopularityChart {
    height: 300px;
    width: 361px;
}


.chart-container canvas {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 600px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

